body{
    background: theme-color(darkblue);
    color: theme-color(white);
    font-family: 'Acherus Grotesque', Tahoma, Verdana, sans-serif;

    &:not(.home) > .wrap{
        min-height: 100vh;
        padding-top: 150px;
    }
}

section{
    margin-bottom: 200px;
}

img{
    max-width: 100%;
}

h2{
    font-family: 'Miller', serif;
    margin-bottom: $grid-gutter;
}

h2{
    &:after{
        content: ' —'
    }
}

a.btn{
    background: theme-color(primary);
    color: theme-color(black);
    text-transform: uppercase;
    border-radius: 2em;
    padding: .5em 1.5em .3em;
    margin-right: 25px;
    font-size: .9em;
    letter-spacing: .05em;
    margin-right: $grid-gutter / 2;

    &:hover{
        background: lighten(theme-color(primary), 10%);
    }
}