.banner .nav li {
  @extend .nav-item;
}

.banner {
  padding: $grid-gutter / 3 $grid-gutter;
  background-color: theme-color(black);
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: margin-top .5s;
  display: flex;
  justify-content: space-between;
  //background: rgb(0,0,0);
  //background: linear-gradient(180deg, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);

  .brand{
      color: theme-color(white);
      text-decoration: none;

      h1{
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: .1em;
        margin-bottom: 0px;
      }

      h3{
        font-size: 1.2em;
        margin-bottom: 0;
      }
  }

    .nav {
      a {
        @extend .nav-link;
        color: theme-color(white);
        text-transform: uppercase;
        font-family: AcherusGrotesque;
      }
    }

  @include media-breakpoint-down(sm){
    position: fixed;
    padding: 10px 25px 5px;
    flex-direction: column;
    text-align: center;

    .nav{
      //display: none;
      justify-content: center;
    }

    &.active{
      //background-color: transparent;
    }
  }
}
