.page.home{
    .banner {
        margin-top: -100%;
        &.active{
            margin-top: 0;
        }
      }
    section{
        &#top{
            min-height: 100vh;
            display: flex;

            .text{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                .center{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    max-width: 450px;

                    h6{
                        text-transform: uppercase;

                        img{
                            display: inline-block;
                            max-width: 200px;
                            margin-right: 10px;
                            vertical-align: top;
                        }
                    }

                    .title{
                        border-top: 1px solid theme-color(white);
                        border-bottom: 1px solid theme-color(white);
                        padding: $grid-gutter / 2 0;
                        margin: $grid-gutter / 2 0;

                        h1{
                            text-transform: uppercase;
                            font-size: 4em;
                            letter-spacing: .1em;
                        }
                    }
                }

                .bottom{
                    text-align: center;
                    padding: $grid-gutter;
                    animation-delay: 1s;
                    opacity: 0;
                }
            }

            .image{
                flex: 1;
                background-size: cover;
                background-position: center bottom;
            }

            @include media-breakpoint-down(sm){
                flex-direction: column;

                .text{
                    flex: 0;

                    .center{
                        .title{
                            padding: 15px 0;
                            margin: 15px 0;

                            h1{
                                font-size: 2.5em;
                            }

                            h3{
                                font-size: 1.2em;
                            }
                        }
                    }

                    .bottom{
                        padding: 0 0 25px;
                    }
                }
            }
        }

        &#watch{
            background: theme-color(black);
            padding-bottom: $grid-gutter * 2;
            margin-bottom: 0;

            p{
                font-size: 1.3em;
                margin-bottom: $grid-gutter;

                @include media-breakpoint-down(sm){
                    font-size: 1.1em;
                }
            }
        }

        &#carousel{
            background: theme-color(black);
            position: relative;
            margin: 0 auto 100px;
            padding-top: 0;
            padding-bottom: $grid-gutter;

            .caption{
                font-size: .8em;
                line-height: 1.3;
                text-align: center;
                margin-top: 10px;
            }

            @include media-breakpoint-down(sm){
                .caption{
                    display: none;
                }
            }

            .arrow{
                position: absolute;
                height: 100%;
                width: 25%;
                top: 0;
                z-index: 9;
                display: flex!important;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: .3s;

                i{
                    transition: .3s;
                }

                &.nextArrow{
                    right: 0;

                    &:hover{
                        i{
                            transform: translate(10px);
                        }
                    }
                }

                &.prevArrow{
                    left: 0;

                    &:hover{
                        i{
                            transform: translate(-10px);
                        }
                    }
                }
            }

            .slick-slide{
                margin: 0 $grid-gutter / 2;
                opacity: .5;
                transition: opacity .3s;

                img{
                    width: 100%;
                }

                p{
                    opacity: 0;
                }

                &.slick-current{
                    opacity: 1;

                    p{
                        opacity: 1;
                    }
                }
            }
        }

        &#screenings{
            .screenings{
                padding-bottom: $grid-gutter;
                border-right: 1px solid theme-color(white);
            }
        }

        &#read{
            p{
                &:first-child{
                    font-size: 1.2em;
                }
            }

            img{
                display: block;
                max-height: 500px;
                margin: 0 auto;
            }

            @include media-breakpoint-down(sm){
                .row{
                    flex-direction: column-reverse;
                }

                img{
                    max-height: 400px;
                    margin: 0 auto $grid-gutter / 2;
                }
            }
        }
    }
}

.page.about{
    section.content{
        .trailer-btn{
            @include media-breakpoint-down(sm){
                margin-bottom: $grid-gutter / 2;
            }
        }
    }

    #team{
        .person{
            margin-bottom: $grid-gutter/2;
            
            .portrait{
                margin-bottom: $grid-gutter/2;
                transition: opacity .3s;
                cursor: pointer;

                &:hover{
                    opacity: .6;
                }
            }

            h4{
                margin-bottom: 0;
            }
        }
    }

    #credits{
        .list{
            columns: 3;
        }

        @include media-breakpoint-down(sm){
            .list{
                columns: 2;
            }   
        }
    }
}

.page.book{
    #buy{
        .tagline{
            margin-bottom: $grid-gutter * 2;
            letter-spacing: 0;
        }

        h3{
            margin-bottom: 0;
            letter-spacing: .1em;
        }

        .extra{
            margin-top: $grid-gutter;
            font-size: .9em;
        }

        img{
            display: block;
            max-height: 500px;
            margin: 0 0 $grid-gutter;
        }

        @include media-breakpoint-down(sm){
            .tagline{
                margin-bottom: $grid-gutter;
                font-size: 1.2em;
                line-height: 1.5;
            }

            img{
                margin: 0 auto $grid-gutter;
                max-height: 400px;
            }
        }
    }

    #praise{
        .slide{
            padding: 0 $grid-gutter;

            h4{
                line-height: 1.4;
                margin-bottom: $grid-gutter / 2;
            }

            h6{
                text-align: right;
            }

            @include media-breakpoint-down(sm){
                padding: 0;

                h4{
                    line-height: 1.6;
                    font-size: 1.1em;
                }
            }
        }
    }
}