.page.home{
    section{
        &#top{
            min-height: 100vh;
            background-size: cover;
            background-position: center bottom;
            position: relative;

            .trailer-btn{
                position: absolute;
                bottom: $grid-gutter;
                left: $grid-gutter;
            }
        }

        &#watch{
            p{
                font-size: 1.3em;
                margin-bottom: $grid-gutter;
            }
        }

        &#carousel{
            position: relative;

            .arrow{
                position: absolute;
                height: 100%;
                width: 25%;
                top: 0;
                z-index: 9;
                display: flex!important;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: .3s;

                i{
                    transition: .3s;
                }

                &.nextArrow{
                    right: 0;

                    &:hover{
                        i{
                            transform: translate(10px);
                        }
                    }
                }

                &.prevArrow{
                    left: 0;

                    &:hover{
                        i{
                            transform: translate(-10px);
                        }
                    }
                }
            }

            .slick-slide{
                margin: 0 $grid-gutter / 2;
                opacity: .5;
                transition: opacity .3s;

                &.slick-current{
                    opacity: 1;
                }

                img{
                    width: 100%;
                }
            }
        }

        &#screenings{
            .screenings{
                padding-bottom: $grid-gutter;
                border-right: 1px solid theme-color(white);
            }
        }

        &#read{
            img{
                display: block;
                max-height: 500px;
                margin: 0 auto;
            }
        }
    }
}

.page.about{
    #team{
        .person{
            margin-bottom: $grid-gutter/2;
            
            .portrait{
                margin-bottom: $grid-gutter/2;
                transition: opacity .3s;
                cursor: pointer;

                &:hover{
                    opacity: .6;
                }
            }

            h4{
                margin-bottom: 0;
            }
        }
    }

    #credits{
        .list{
            columns: 3;
        }
    }
}

.page.book{
    #buy{
        .tagline{
            margin-bottom: $grid-gutter * 2;
        }

        img{
            display: block;
            max-height: 500px;
            margin: 0 auto;
        }
    }

    #praise{
        .slide{
            padding: 0 $grid-gutter;

            h5{
                margin-bottom: $grid-gutter / 2;
            }

            h6{
                text-align: right;
            }
        }
    }
}